.vs
.vscode
*.suo
*.user
_ReSharper.*
bin
obj
packages
/HI.DevOps.WebUI/.vs
/HI.DevOps.WebUI/HI.DevOps.Application/bin
/HI.DevOps.WebUI/HI.DevOps.Application/obj
/HI.DevOps.WebUI/HI.DevOps.DomainCore/bin
/HI.DevOps.WebUI/HI.DevOps.DomainCore/obj
/HI.DevOps.WebUI/HI.DevOps.Infrastructure/bin
/HI.DevOps.WebUI/HI.DevOps.Infrastructure/obj
/HI.DevOps.WebUI/HI.DevOps.Web/bin
/HI.DevOps.WebUI/HI.DevOps.Web/obj
/HI.DevOps.WebUI/HI.DevOps.Web/wwwroot/bundle
/HI.DevOps.WebUI/packages
/HI.DevOps.Microservices/Log/*
/HI.DevOps.Microservices/.vs
/HI.DevOps.Microservices/.vs
/HI.DevOps.Microservices/Shared/Template.DatabaseContext/bin/*
/HI.DevOps.Microservices/Shared/Template.DatabaseContext/obj/*
/HI.DevOps.Microservices/APIGateway/obj/*
/HI.DevOps.Microservices/Services/AuthenticationServer/Authentication.API/bin/*
/HI.DevOps.Microservices/Services/SecureAPI/SecureAPI/obj/*
/HI.DevOps.Microservices/Services/SecureAPI/SecureAPI/bin/*
/HI.DevOps.Microservices/Services/ExportAPI/ExportAPI/obj/*
/HI.DevOps.Microservices/Services/ExportAPI/ExportAPI/bin/*
