/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
html { height: 100%; }

body {
    background: #fff;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.form-container { display: flex; }

.form-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 50%;
}

.form-form .form-form-wrap {
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 480px;
    min-height: 100%;
    min-width: 311px;
}

.form-form .form-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    padding: .71428571rem 2.85714286rem;
    width: 100%;
}

.form-form .form-container .form-content {
    display: block;
    width: 100%;
}

.form-form .form-form-wrap .user-meta { margin-bottom: 35px; }

.form-form .form-form-wrap .user-meta img {
    border: 4px solid #e0e6ed;
    border-radius: 50%;
    height: 52px;
    margin-right: 15px;
    width: 52px;
}

.form-form .form-form-wrap .user-meta div { align-self: center; }

.form-form .form-form-wrap .user-meta p {
    color: #3b3f5c;
    font-size: 31px;
    margin-bottom: 0;
}

.form-form .form-form-wrap h1 .brand-name {
    color: #1b55e2;
    font-weight: 600;
}

.form-form .form-form-wrap p.signup-link {
    color: #3b3f5c;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
}

.form-form .form-form-wrap p.signup-link a {
    border-bottom: 1px solid;
    color: #1b55e2;
}

.form-form .form-form-wrap form .field-wrapper.input {
    border-bottom: none;
    padding: 11px 0 25px 0;
    position: relative;
}

.form-form .form-form-wrap form .field-wrapper.input:focus { border: 1px solid #000; }

.form-form .form-form-wrap form .field-wrapper.toggle-pass p {
    color: #3b3f5c;
    font-weight: 600;
    margin-bottom: 0;
}

.form-form .form-form-wrap form .field-wrapper .logged-in-user-name {
    color: #3b3f5c;
    font-size: 37px;
}

.form-form .form-form-wrap form .field-wrapper svg {
    color: #1b55e2;
    fill: rgba(27, 85, 226, 0.239216);
    position: absolute;
    top: 16px;
}

.form-form .form-form-wrap form .field-wrapper.terms_condition { margin-bottom: 20px; }

.form-form .form-form-wrap form .field-wrapper.terms_condition label {
    color: #888ea8;
    font-size: 14px;
    font-weight: 100;
    padding-left: 31px;
}

.form-form .form-form-wrap form .field-wrapper.terms_condition a { color: #1b55e2; }

.form-form .form-form-wrap form .field-wrapper input {
    -ms-transition: all 0.2s ease-in-out 0s;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e6ed;
    border-radius: 0;
    color: #3b3f5c;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    max-width: 635px;
    min-height: 36px;
    min-width: 50px;
    padding: 0px 0 10px 35px;
    transition: all 0.2s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.form-form .form-form-wrap form .field-wrapper input::-webkit-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-ms-input-placeholder, .form-form .form-form-wrap form .field-wrapper input::-moz-placeholder {
    color: #d3d3d3;
    font-size: 14px;
}

.form-form .form-form-wrap form .field-wrapper input:focus {
    border-bottom: 1px solid #1b55e2;
    box-shadow: none;
}

.form-form .form-form-wrap form .field-wrapper.toggle-pass {
    align-self: center;
    text-align: left;
}

.form-form .form-form-wrap form .field-wrapper.toggle-pass .switch {
    margin-bottom: 0;
    margin-left: 7px;
    vertical-align: sub;
}

.form-form .form-form-wrap form .field-wrapper button.btn { align-self: center; }

.form-form .form-form-wrap form .field-wrapper a.forgot-pass-link {
    color: #1b55e2;
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator {
    background-color: #f1f2f3;
    border: 1px solid #bfc9d4;
    top: 1px;
}

.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator:after { top: 52%; }

.form-form .form-form-wrap form .field-wrapper.keep-logged-in { margin-top: 60px; }

.form-form .form-form-wrap form .field-wrapper.keep-logged-in label {
    color: #888ea8;
    font-size: 14px;
    font-weight: 100;
    padding-left: 31px;
}

.form-form .terms-conditions {
    color: #3b3f5c;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 90px;
    max-width: 480px;
}

.form-form .terms-conditions a {
    color: #1b55e2;
    font-weight: 700;
}

.form-image {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: auto;
    position: fixed;
    right: 0;
    width: 50%;
}

.form-image .l-image {
    background-color: #060818;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/10/16/39/shield-1086703_960_720.png);
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .form-form { width: 100%; }

    .form-form .form-form-wrap { min-width: auto; }

    .form-image { display: none; }
}

@media (max-width: 575px) {
    .form-form .form-form-wrap form .field-wrapper.toggle-pass { margin-bottom: 28px; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-form .form-form-wrap { width: 100%; }

    .form-form .form-container { height: 100%; }
}