/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.sidenav {
    border-left: 1px solid #e0e6ed;
    height: auto;
    position: fixed;
    right: -30px;
    top: 147px;
    width: 236px;
}

.sidenav .sidenav-header:after { display: none; }

.sidenav .sidenav-header p {
    background: #1b55e2;
    background-image: linear-gradient(to right, #1b55e2 0%, #5c1ac3 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
}

.sidenav .sidenav-content {
    background-color: transparent;
    border: none;
    display: block;
}

.sidenav .sidenav-content a {
    color: #3b3f5c;
    display: block;
    font-size: 12px;
    padding: 3px 0px;
    padding: 3px 25px;
}

.sidenav .sidenav-content a.active {
    border-left: 1px solid #5c1ac3;
    color: #5c1ac3;
    font-weight: 700;
}

.sidenav .sidenav-content a:hover {
    border-left: 1px solid #5c1ac3;
    color: #1b55e2;
    font-weight: 700;
}

#content > .container {
    display: flex;
    margin-left: 14px;
    max-width: 58.333333% !important;
    padding: 0 32px !important;
}

#content > .container > .container {
    margin: 0;
    padding: 0;
}

@media (max-width: 575px) {
    .sidenav .sidenav-content a {
        margin-bottom: 10px;
        margin-right: 0;
        padding: 4px 7px;
    }
}

@media (max-width: 991px) {
    #content > .container { padding: 0 16px !important; }
}

@media (max-width: 1199px) {
    .sidenav { display: none; }

    #content > .container {
        margin-left: auto;
        max-width: 100% !important;
    }

    #content > .container > .container { max-width: 100%; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sidenav { display: none; }
}